<p>interview works!</p>
<!-- <form [formGroup]="interviewForm" (ngSubmit)="submitForm(interviewForm.value)">
    <input type="text" name="" id="">
</form> -->
<!-- <div class="container">
    <div class="row">
<div class="search-hero">
<input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country">
</div>
<P *ngFor="let hero of heroes | filter :searchText"> {{hero}}</P>
</div>
</div> -->
