<p>nav works!</p>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <a class="navbar-brand" routerLink="**" routerLinkActive="active">WebSiteName</a>
        <!-- <li class="active"><a routerLink="/main" routerLinkActive="active">6/18/2022</a></li> -->
        <li><a routerLink="/bhoomi" routerLinkActive="active">Bhoomi  </a></li>
        <li><a routerLink="/vishal" routerLinkActive="active"> Bhoomi.D </a></li>
        <li><a routerLink="/httpclient" routerLinkActive="active">Httpsclient  </a></li>
        <li><a routerLink="/input-url-img" routerLinkActive="active">input image url </a></li>
        <li><a routerLink="/tdform" routerLinkActive="active">templete driven form </a></li>
        <li><a routerLink="/form" routerLinkActive="active"> Form (console.p) </a></li>
        <li><a routerLink="/cartngmodel" routerLinkActive="active"> cart no.(ngmodel) </a></li>
        <li><a routerLink="/addfunc" routerLinkActive="active">Add func (ngmodel)  </a></li>
        <li><a routerLink="/r-form" routerLinkActive="active">reactive Form  </a></li>
        <li><a routerLink="/cityadd" routerLinkActive="active">city add(clumsy...)  </a></li>
        <li><a routerLink="/qrpg" routerLinkActive="active">  QR code page </a></li>
        <li><a routerLink="/interview" routerLinkActive="active"> interview </a></li>
      </ul>
    </div>
</nav>
