<!-- <app-bhoomi></app-bhoomi> -->
<app-nav></app-nav>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- <app-vishal></app-vishal> -->
<!-- Q)how to set up angular app?
    -download node,git,vscode and npm install
      :ng new "..."
Q)life cycle hooks in angular?
    -ngOnInit():when on load,ngOnChanges(),ngDoCheck(),ngAfterContentInit(),
ngAfterContentChecked(),ngAfterViewInit(),ngAfterViewChecked(),
ngOnDestroy():no closing page
Q)what is constructor?
    -constructor(){}
Q)what is service and how to create ?
    -make it usable to many other places ; to creat service(ng g s)
Q)what is component and how to create and use ?
    -its the most basic UI building block,
         ;ng g c ;have to import it
Q)what are directives and type?
    -add behaviour to element in angular ;structural directives(ngFor,ngIf, ngSwitch),attribute(ngStyle,ngclass),
    component(it will change the DOM html)
Q)what are inbuilt pipes and how to use it?
    -pipe"|" to write attributes like uppercase or lowercase eg: firstname | uppercase
        ;CurrencyPipe,DatePipe.,DecimalPipe,JsonPipe,LowerCasePipe,UpperCasePipe,PercentPipe,SlicePipe
Q)how to use ngfor, ngif, ngstyle, ngswitch?
     -eg:(li *ngFor/ngIf/*ngstyle/*ngswitch)  (/li)
Q)what are decorators?
    -which starts with @
        ; pattern used to separate modification or decoration of a class without modifying the original source code
Q)what is importnace of module and explain where you will register component, service, 
    - The module is container for the different parts of an application.
Q)Type of forms?
    -driven angular form,reactive form
Q)agile methodology?
    -
Q)what is two way data bindiing?
    -MVC- model(ngModel) view(HTML) controller(component.js)
           ;ngmodel is synced of view and controller
Q)routing in angular?
    -single page website on which we can change the url without whole page refresh
Q)how to send or get the data? 
    -
 Q)git command 
   q)to push:git push -u origin 
      ;git remote add origin url(to add in any others repo link)
        (to check if added or not)git remote -v
   q)pull: 
   q)create branch:git checkout -b
   q)clone: git clone url
        (git acess url {to clone the code for new developer})
   q)to set up initially:git init
 Q)angular versions and history?
    -angular first version: angular.js/2/4/5/6/7/8/9/10/11/12/13/14 is the angulae's lastest version
      ;google released it first -->