p {
    font-family: Lato;
  }
  .li1{
    color: aliceblue;
    list-style-type: none;
    display: inline-block;
    margin: 22px;
    cursor: pointer;
  }
  .ul1{
    background-color: brown;
  }
  .mee{
    color: red;
  }
  .batchmates{
    color: green;
  }
